@import "tailwindcss";
@import "./styles//fonts.css";

*,
*::after,
*::before {
	box-sizing: border-box;
}
@custom-variant dark (&:is(.dark *));

@theme {
	--font-clash: "Clash Display", sans-serif;
	--font-clash-var: "ClashDisplay-Variable", sans-serif;
	--font-display: "UnifrakturCook-Bold", cursive;
	--animate-up-down: up-down 1.5s ease-in-out infinite;
}

@layer base {
	@apply font-clash;
}

@keyframes up-down {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px); /* move up */
	}
}
